.no-list-style {
    list-style-type: none;
}
input {
    padding: 20px 10px;
    width: 100%;
    font-size: 25px;
    border: 1px solid #ced4da;
}
ul {
    padding-left: 0;
}
li {
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    padding: 20px 10px;
    font-size: 30px;
}
button {
    border-radius: 0;
}
.btn {
    font-weight: 700;
}