<div class="row">
  <div class="col text-center">
      <h1>Never loose track of what you need to do again!</h1>
      <h3>You don't need any stinking directions but just in case you do...</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <p class="lead">Type something...</p>
    <p class="lead">Press ENTER to add an item</p>
    <p class="lead">Press the X to remove an item</p>
    <p class="lead">That's it!</p>
  </div>
</div>
<div class="row">
  <div class="col">
      <form (submit)="!!addToDo(todo)">
          <div class="form-group">
            <label for="todo">What do you need to do?</label><br>
            <input type="text" placeholder="Add New Task" #todo >
          </div>
        </form>
        
        <ul class="no-list-style">
          <li *ngFor="let todo of todos">
             {{ todo }}
            <button (click)="deleteToDo(todo)" class="btn btn-outline-danger" style="float: right">X</button>
          </li>
        </ul>
  </div>
</div>

<!-- <button (click)="onClick()">Add to the list</button> -->

